@import "tailwindcss";

@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-size: cover;
  background-image: url("./assets/background_wallpaper.png");
  background-position: center;

  height: min(140vh, 100%);

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min(140vh, 100%);
  background-color: rgba(0, 0, 0, 0.539);
  
}

::-webkit-scrollbar {
  width: auto;
}

@media (max-width: 767px) {
  :root {
    height: 120vh;
    background-size: cover; /* Garante que a imagem cubra todo o espaço */
    background-repeat: no-repeat; /* Evita repetição da imagem */
  }

  body {
    height: 120vh;
  }
}

@media(max-height: 872px) {
  :root {
    height: 160vh;
  }

  body {
    height: 160vh;
  }
}

